.document-card {

    background:white;

    border-radius:20px;

    padding:40px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.08);

    text-align:center;

}


.document-card h2 {

    font-size:28px;

    color:#1f2937;

}


.document-card p {

    color:#6b7280;

}



.upload-box {

    display:flex;

    justify-content:center;

    align-items:center;

    margin:30px auto;

    height:220px;

    border:2px dashed #2563EB;

    border-radius:20px;

    cursor:pointer;

    background:#f8fafc;

    transition:.3s;

}



.upload-box:hover {

    background:#eff6ff;

}



.upload-box input {

    display:none;

}



.upload-box h3 {

    color:#2563EB;

}



.upload-box span {

    color:#6b7280;

}



.selected-file {

    font-weight:600;

}



.document-btn {

    background:#2563EB;

    color:white;

    border:none;

    padding:15px 30px;

    border-radius:50px;

    font-size:16px;

    cursor:pointer;

}



.document-btn:hover {

    background:#1d4ed8;

}



.download-btn {

    display:inline-block;

    margin-top:20px;

    padding:12px 25px;

    background:#16a34a;

    color:white;

    text-decoration:none;

    border-radius:50px;

}



.document-message {

    margin-top:20px;

    font-weight:600;

}